{# templates/front/page/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

 {% block body %}
     {% for message in app.flashes('success') %}
         <div class="alert alert-success">
             {{ message }}
         </div>
     {% endfor %}
     {% if app.user %}
         <div class="mb-3">
             You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
         </div>
     {% endif %}
     <p>Page d'accueil front</p>
 {% endblock %}
