body {
  background-color: lightgray;
}

a {
  text-decoration: none;
}

header,
footer {
  background: #f5f3f4;
}

header img.logo {
  max-width: 115px;
}

header .col-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

header a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-weight: 600;
}

header {
  padding: 20px 0;
}

.page_login {
  padding: 80px 0;
  background: linear-gradient(45deg, rgba(66, 183, 245, 0.8) 0%, rgba(66, 245, 189, 0.4) 100%);
  height: calc(100vh - 305px);
}

.page_login form {
  max-width: 500px;
  padding: 20px;
  margin: 0 auto;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
}

.page_login form label {
  display: block;
  margin: 0 0 10px;
  color: rgba(0, 0, 0, 0.6);
  font-size: 12px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.page_login form .btn {
  background: #4285f4;
  width: 100%;
  border: 0;
  border-radius: 4px;
  padding: 12px 20px;
}

.page_login form h1 {
  padding: 4px 0;
  color: #4285f4;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: left;
}

.form-header {
  margin: 0 0 40px;
}

.page_login form a {
  display: block;
  margin-bottom: 20px;
  margin-top: 20px;
}

.page_login form input {
  margin-bottom: 20px;
}

body footer {
  min-height: 150px;
  display: flex;
  align-items: center;
  padding: 20px;
}

.img-beandeau {
  height: calc(100vh - 155px);
  background-image: url(../../img/bandeau.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 40px;
}

.img-beandeau h1 {
  background-color: rgba(225, 255, 255, 0.4);
  padding: 30px 50px;
}

.img-beandeau a {
  text-decoration: none;
  position: absolute;
  bottom: 50px;
  right: 50px;
  height: 50px;
  width: 50px;
  background: #f5f3f4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 25px;
}

.slick-list .slick-slide,
.slick-list .slick-slide img {
  height: 200px;
  width: 350px;
}

.slick-slide img {
  object-fit: cover;
}

.container-tricks {
  max-width: 1600px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.container-tricks .card-img-top {
  height: 180px;
  object-fit: cover;
}

.footer_card form {
  display: inline-block;
}

.footer_card {
  position: absolute;
  bottom: 20px;
  right: 0;
}

.card-body {
  background: #f5f3f4;
  padding: 15px;
}

.container-tricks .card {
  border: none;
  box-shadow: 8px 8px 12px 5px rgb(0 0 0 / 8%);
}

.container-tricks .card .card-title {
  color: #000;
  text-transform: capitalize;
  font-size: 14px;
  font-weight: 700;
}

.ancre-tricks {
  background: #f5f3f4;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 25px;
  height: 50px;
  width: 50px;
  transform: rotate(180deg);
}

.container-ancre {
  display: flex;
  justify-content: flex-end;
}

.bandeau-image.trick img {
  height: 550px;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.bandeau-image.trick {
  position: relative;
}

.content-btn {
  position: absolute;
  top: 15px;
  right: 15px;
  background: #f5f3f4;
}

.content-btn form {
  display: inline-block;
}

.titre-trick {
  padding: 15px 40px;
  background: rgba(225, 255, 255, 0.4);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.carousel {
  position: relative;
  margin: 40px 0;
}

.carousel .next {
  position: absolute;
  right: -40px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
}

.carousel .prev {
  position: absolute;
  left: -40px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 25px;
}

.carousel .slick-slide {
  padding: 0 10px;
  position: relative;
}

.carousel .slick-slide .btn-image {
  position: absolute;
  top: 0;
  right: 0;
}

.carousel .slick-slide .btn-edit {
  position: absolute;
  top: 0;
  right: 30px;
}

.form_delete {
  display: inline-block;
}

.container_btn .btn {
  font-size: 15px;
  padding: 0.375rem 0.75rem;
  margin-left: 15px;
}

.container_btn {
  display: flex;
  justify-content: flex-end;
  padding-top: 20px;
}

.input-category {
  max-width: 200px;
}

textarea#tricks_content {
  overflow-y: scroll;
  min-height: 300px;
  resize: none; /* Remove this if you want the user to resize the textarea */
}

.container.edit-view {
  max-width: 800px;
  margin: 0 auto;
  padding-bottom: 30px;
}

.container.edit-view .btn-save {
  text-align: right;
  margin-top: 20px;
}

.img-user {
  object-fit: contain;
  max-width: 60px;
}

.container-comment {
  margin-bottom: 20px;
}

.container-comment .comment {
  border: solid 1px;
}

.info {
  padding: 30px 15px;
}

.info .badge {
  margin-bottom: 15px;
}

.form-comment {
  max-width: 700px;
  margin: 0 auto;
  padding: 25px 0;
  margin-bottom: 30px;
  display: flex;
  border-top: 1px solid #555f77;
  border-bottom: 1px solid #555f77;
  align-items: center;
  position: relative;
}

.no-comments p {
  text-align: center;
}

#comment {
  width: 70%;
  display: inline-block;
}

#comment input {
  background-color: #fcfcfc;
  border: none;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  color: #555f77;
  font-family: inherit;
  font-size: 14px;
  padding: 5px 10px;
  outline: none;
  width: 100%;
  -webkit-transition: 350ms box-shadow;
  -moz-transition: 350ms box-shadow;
  -ms-transition: 350ms box-shadow;
  -o-transition: 350ms box-shadow;
  transition: 350ms box-shadow;
}

.form-comment .btn {
  width: calc(30% - 20px);
  margin-left: 15px;
  background-color: #555f77;
  border-color: #555f77;
}

/* comment */

.comment .comment-box {
  background-color: #fcfcfc;
  border-radius: 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
  margin-left: 100px;
  min-height: 60px;
  position: relative;
  padding: 15px;
}

.comment .comment-box::before,
.comment .comment-box::after {
  border-width: 10px 10px 10px 0;
  border-style: solid;
  border-color: transparent #fcfcfc;
  content: "";
  left: -10px;
  position: absolute;
  top: 20px;
}

.comment .comment-box::before {
  border-color: transparent rgba(0, 0, 0, 0.05);
  top: 22px;
}

.comment .comment-text {
  color: #555f77;
  font-size: 15px;
  margin-bottom: 25px;
}

.comment .comment-footer {
  color: #acb4c2;
  font-size: 13px;
}

.comment .comment-footer::after {
  content: "";
  display: table;
  clear: both;
}

.comment .comment-footer a {
  color: #acb4c2;
  text-decoration: none;
  text-transform: capitalize;
  -webkit-transition: 350ms color;
  -moz-transition: 350ms color;
  -ms-transition: 350ms color;
  -o-transition: 350ms color;
  transition: 350ms color;
}

.comment .comment-footer a:hover {
  color: #555f77;
  text-decoration: underline;
}

.comment .comment-info {
  float: left;
  width: 85%;
}

.comment .comment-date::before {
  content: "|";
  margin: 0 10px;
}

.comment-actions {
  float: left;
  text-align: right;
  width: 15%;
}


.comment-form .comment-avatar,
.comment .comment-avatar {
  border: 2px solid #fff;
  border-radius: 50%;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  height: 80px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 80px;
}

.comment-form,
.comment {
  max-width: 700px;
  margin: 0 auto;
  margin-bottom: 20px;
  position: relative;
  z-index: 0;
}

#container-grey {
  background: #dee1e3;
  padding: 30px 0;
}

span.badge-primary {
  padding: 10px;
}


#page-trick {
  width: 1200px;
  max-width: 95%;
  margin: 0 auto;
  margin-top: 5%;
  margin-bottom: 5%;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.15);
}

.content-text {
  max-width: 1000px;
  margin: 0 auto;
}

#loadMoreCom {
  background: #555f77;
  color: #fff;
}

.nav.mobile {
  display: none;
}

h1.new {
  text-align: center;
}

#loadMoreComDiv {
  width: 100%;
}

form[name="change_password_form"] input {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}


@media (min-width: 1200px) {
  #tricks .col-md-55 {
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
  }
}

@media (max-width: 575px) {
  header .col-logo {
    display: none;
  }

  .nav.desktop {
    display: none;
  }

  .nav.mobile {
    display: flex;

  }

  header {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 100;
    padding: 10px;
  }

  header .col-menu {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .nav.mobile img {
    max-width: 25px;

  }

  .img-beandeau h1 {
    text-align: center;
  }

  .titre-trick {
    text-align: center;
    width: 100%;
  }

  .container_btn {
    justify-content: center;
  }

}

