<header>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-logo">
               <a href="{{ path('tricks_index') }}"> <img  class="logo" src="{{ asset('img/snow.jpg') }}" alt="logo"></a>
            </div>
            <div class="col-sm-8 text-right col-menu">
                {% block menu %}
                    {% include "layout/menu.html.twig" %}
                {% endblock %}
            </div>
        </div>
    </div>

</header>