
<ul class="nav">

    <li class="nav-item">
        <a class="nav-link active" href="http://51.75.126.51/P6/public/index.php/">home</a>
    </li>

    <li class="nav-item">
        <a class="nav-link" href="http://51.75.126.51/P6/public/index.php/tricks">tricks</a>
    </li
    {% if not app.user %}
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_login') }}">connexion</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_register') }}">inscription</a>
    </li
    {% else %}

    <li class="nav-item">
        <a class="nav-link" href="{{ path('app_logout') }}">deconnexion</a>
    </li>
    {% endif %}



</ul>