<form method="post" class="form_delete" action="{{ path('tricks_delete', {'id': trick.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ trick.id) }}">

    {% if app.request.get('_route') == 'tricks_show' %}
        <button class=" btn" href="/P6/public/index.php/tricks/11/edit"><i class="fas fa-trash-alt"></i></button>
    {% else %}
        <button class="btn btn-danger">delete</button>
    {% endif %}


</form>
